* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  min-height: 100vh;
  padding: 30px;
  transition: 0.3s;
}

.light {
  background: #f4f4f4;
  color: #222;
}

.dark {
  background: #1e1e1e;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.theme-btn {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  background-color: skyblue;
  color: black;
  border-radius: 8px;
}

.card {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  background: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.dark .card {
  background: #333;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
  border: 1px solid gray;
  border-radius: 6px;
}

span {
  color: red;
  font-size: 14px;
}

form button {
  padding: 12px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .card {
    width: 95%;
  }
}
.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}