.product-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow:
    0 3px 10px rgba(0, 0, 0, 0.1);

  text-align: center;
}

.product-card img {
  width: 150px;
  height: 180px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 16px;
  margin: 15px 0;
}

.product-card p {
  color: green;
  font-weight: bold;
}

.btn-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-group button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}