.products-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.product-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow:
    0 3px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 16px;
  margin: 15px 0;
  min-height: 50px;
}

.product-card p {
  color: green;
  font-size: 18px;
  font-weight: bold;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn-group button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
}